<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.apsd.hspcloud.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.apsd.hspcloud.pojo.Question" >
    <id column="question_id" property="questionId" jdbcType="VARCHAR" />
    <result column="alive" property="alive" jdbcType="BIT" />
    <result column="doctor_id" property="doctorId" jdbcType="VARCHAR" />
    <result column="question_content" property="questionContent" jdbcType="VARCHAR" />
    <result column="question_time" property="questionTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    question_id, alive, doctor_id, question_content, question_time, user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.apsd.hspcloud.pojo.QuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from question
    where question_id = #{questionId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from question
    where question_id = #{questionId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.apsd.hspcloud.pojo.QuestionExample" >
    delete from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.apsd.hspcloud.pojo.Question" >
    insert into question (question_id, alive, doctor_id, 
      question_content, question_time, user_id
      )
    values (#{questionId,jdbcType=VARCHAR}, #{alive,jdbcType=BIT}, #{doctorId,jdbcType=VARCHAR}, 
      #{questionContent,jdbcType=VARCHAR}, #{questionTime,jdbcType=TIMESTAMP}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.apsd.hspcloud.pojo.Question" >
    insert into question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        question_id,
      </if>
      <if test="alive != null" >
        alive,
      </if>
      <if test="doctorId != null" >
        doctor_id,
      </if>
      <if test="questionContent != null" >
        question_content,
      </if>
      <if test="questionTime != null" >
        question_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="questionId != null" >
        #{questionId,jdbcType=VARCHAR},
      </if>
      <if test="alive != null" >
        #{alive,jdbcType=BIT},
      </if>
      <if test="doctorId != null" >
        #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="questionContent != null" >
        #{questionContent,jdbcType=VARCHAR},
      </if>
      <if test="questionTime != null" >
        #{questionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.apsd.hspcloud.pojo.QuestionExample" resultType="java.lang.Integer" >
    select count(*) from question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update question
    <set >
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=VARCHAR},
      </if>
      <if test="record.alive != null" >
        alive = #{record.alive,jdbcType=BIT},
      </if>
      <if test="record.doctorId != null" >
        doctor_id = #{record.doctorId,jdbcType=VARCHAR},
      </if>
      <if test="record.questionContent != null" >
        question_content = #{record.questionContent,jdbcType=VARCHAR},
      </if>
      <if test="record.questionTime != null" >
        question_time = #{record.questionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update question
    set question_id = #{record.questionId,jdbcType=VARCHAR},
      alive = #{record.alive,jdbcType=BIT},
      doctor_id = #{record.doctorId,jdbcType=VARCHAR},
      question_content = #{record.questionContent,jdbcType=VARCHAR},
      question_time = #{record.questionTime,jdbcType=TIMESTAMP},
      user_id = #{record.userId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.apsd.hspcloud.pojo.Question" >
    update question
    <set >
      <if test="alive != null" >
        alive = #{alive,jdbcType=BIT},
      </if>
      <if test="doctorId != null" >
        doctor_id = #{doctorId,jdbcType=VARCHAR},
      </if>
      <if test="questionContent != null" >
        question_content = #{questionContent,jdbcType=VARCHAR},
      </if>
      <if test="questionTime != null" >
        question_time = #{questionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where question_id = #{questionId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.apsd.hspcloud.pojo.Question" >
    update question
    set alive = #{alive,jdbcType=BIT},
      doctor_id = #{doctorId,jdbcType=VARCHAR},
      question_content = #{questionContent,jdbcType=VARCHAR},
      question_time = #{questionTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=VARCHAR}
    where question_id = #{questionId,jdbcType=VARCHAR}
  </update>
</mapper>